<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745652158314-560vgqdi78jq24bfgd52pjovfnh1ss8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745652158314-560vgqdi78jq24bfgd52pjovfnh1ss8a</string>
	<key>API_KEY</key>
	<string>AIzaSyB63ZzrpQ2iTVnLMYgO4t7oILDR2QVfV88</string>
	<key>GCM_SENDER_ID</key>
	<string>745652158314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amasyabelediyesi</string>
	<key>PROJECT_ID</key>
	<string>amasya-belediyesi</string>
	<key>STORAGE_BUCKET</key>
	<string>amasya-belediyesi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745652158314:ios:7928a7a9864cf99f506f13</string>
</dict>
</plist>